* {
    background-image: none;
    font-size: ${FONT_SIZE}px;
}

@import "$HOME/.cache/colors/wlogout.css";


window {
    background-color: alpha(mix(@background, mix(@color1, @color4, 0.5), 0.3), 0.6);
}

button {
    color: ${BUTTON_COLOR};
    background-color: @color1;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: ${BUTTON_RADIUS}px;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    background-color: @color2;
    box-shadow: 0px 0px 3px 3px @color4;
}

button:hover {
    border-radius: calc(${BUTTON_RADIUS}px * 0.5);
    background-color: @color3;
    box-shadow: 0px 0px 5px 5px @color5;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:focus, button:hover {
    animation-name: breathing;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes breathing {
    0% {
        background-size: 20%;
    }

    25% {
        background-size: 25%;
    }

    50% {
        background-size: 30%;
    }

    75% {
        background-size: 25%;
    }

    100% {
        background-size: 20%;
    }
}

#lock {
    background-image: image(url("${LOCK_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    margin : ${MARGIN_0};
}

#logout {
    background-image: image(url("${LOGOUT_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    margin : ${MARGIN_1};
}

#shutdown {
    background-image: image(url("${SHUTDOWN_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    margin : ${MARGIN_2};
}

#reboot {
    background-image: image(url("${REBOOT_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    margin : ${MARGIN_3};
}

#suspend {
    background-image: image(url("${SUSPEND_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    margin : ${MARGIN_4};
}

#hibernate {
    background-image: image(url("${HIBERNATE_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    margin : ${MARGIN_5};
}
